In [11]:
from datetime import datetime, timedelta
dat_str='May 9 2017 9:00AM'
s=datetime.strptime(dat_str, '%B %d %Y %I:%M%p')
s

datetime.datetime(2017, 5, 9, 9, 0)

In [10]:
s+=timedelta(hours=1)
s

datetime.datetime(2017, 5, 9, 10, 0)

In [13]:
s.strftime('%Y-%m-%d')

'2017-05-09'

In [18]:
startDate = '2020-01-01'
endDate = '2020-01-03'
startDate_datetime = datetime.strptime(startDate, '%Y-%m-%d')
endDate_datetime = datetime.strptime(endDate, '%Y-%m-%d')
current_day = startDate_datetime
while current_day < endDate_datetime:
    current_day += timedelta(hours=1)
current_day.strftime('%Y-%m-%d %H:%M:%S')

'2020-01-03 00:00:00'

In [19]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data.tsv', sep='\t')
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [30]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

data['datetime'] = data.apply(convert_to_datetime, axis=1)

In [39]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())
data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime,diff
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475691e+09,1.475691e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476031e+09,1.476031e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475620e+09,1.475620e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475692e+09,1.475692e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475280e+09,1.475280e+09

In [40]:
data.unixtime.max()
data.unixtime.min()

1475278020.0